@model IEnumerable<CloudNineAssignment.Models.ViewModels.ArtistViewModel>
<h2>Artists Catalog</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genres
            </th>
            <th>
                Popularity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popularity)
                </td>
            </tr>
        }
    </tbody>
</table>