@model Spotify.Models.ViewModels.SearchTrackViewModel
<form asp-action="Search">
    <div class="form-horizontal">
        <h4>Tracks</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Keyword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Keyword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrackName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TrackName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlbumName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AlbumName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArtistName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArtistName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Genre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Genre" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateFrom" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateTo" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>